@{  
    Page.Title = "Customers";
    Page.ApiController = "Customers";
	Page.Count = new CustomersController().Get().Count();
    Page.Sort = "Id desc";
}

<div class="row">
	@RenderPage("~/Shared/_Pagination.cshtml")
    <h1>Customers</h1>
	@RenderPage("~/Shared/Customers/_List.cshtml")
</div>

@section scripts {
<script id="AddCustomer" type="text/html">
    @RenderPage("~/Shared/Customers/_Add.cshtml")
</script>
<script id="ViewCustomer" type="text/html">
    @RenderPage("~/Shared/Customers/_Display.cshtml")
</script>
<script id="EditCustomer" type="text/html">
    @RenderPage("~/Shared/Customers/_Edit.cshtml")
</script>
<script id="DeleteCustomer" type="text/html">
	<div class="alert  alert-block alert-danger">
	  <strong>Warning!</strong> You are about to delete Customer: <strong data-bind="text: Id"></strong>. Are you sure?
	</div>    
	<form method="delete" class="form-horizontal" data-bind="attr: { action: '@Url.ApiUrl("Customers")' + '/' + Id() }">
	</form>
</script>
}
